<div id="<%= dom_id appointment %>">
  <% decorated_appointment = AppointmentDecorator.new(appointment) %>
  <p>
    <strong>Start time at:</strong>
    <%= decorated_appointment.formatted_start_time_at %>
  </p>

  <p>
    <strong>End time at:</strong>
    <%= decorated_appointment.formatted_end_time_at %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= appointment.customer.name %>
  </p>

  <p>
    <strong>Professional:</strong>
    <%= appointment.professional.name %>
  </p>

</div>
