<div id="<%= dom_id appointment %>">
  <p>
    <strong>Start time at:</strong>
    <%= appointment.start_time_at %>
  </p>

  <p>
    <strong>End time at:</strong>
    <%= appointment.end_time_at %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= appointment.customer_id %>
  </p>

  <p>
    <strong>Professional:</strong>
    <%= appointment.professional_id %>
  </p>

</div>
