<h1>Agendamentos de <%= @professional.name %></h1>

<% if @appointments.any? %>
  <ul>
    <% @appointments.each do |appointment| %>
      <% decorated_appointment = AppointmentDecorator.new(appointment) %>
      <li>
        <strong>Customer:</strong> <%= appointment.customer.name %><br>
        <strong>Start Date:</strong> <%= decorated_appointment.formatted_start_time_at %><br>
        <strong>End Date:</strong> <%= decorated_appointment.formatted_end_time_at %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There's no schedule for this professional</p>
<% end %>

<%= link_to "Show this professional", @professional %> |
<%= link_to "Back to professionals", professionals_path %>